<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Our Shoes</h1>
    <a href="/shoes/new">Add a new shoe</a>
    <a href="/collections/new">Create a Collection</a>
    <% for( shoe of shoes ) { %>
        <a href="/shoes/<%= shoe.id %>">
            <div class="card">
                <!-- <%= shoe.image %> <br> -->
                <%= shoe.name %> <br>
                $<%= shoe.price %> <br>
            </div>
        </a>
    <% } %>
</body>
</html>