<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Shoe</title>
</head>
<body>
    <form action="/shoes/" method="post">
        <input type="text" name="name" placeholder="Name of the shoe">
        <textarea name="description" cols="30" rows="10"></textarea>
        <input type="file" name="pictures" value="Shoe Pictures">
        <!-- tick the display pic -->
        <select name="collections">
            <% foundColl.forEach( (coll) => {  %>
            <option value="<%= coll.id %>"><%= coll.name %></option>
            <% }) %>
        </select>
        <!-- listen for uesr click on + to add more collections-->
        <input type="text" name="price">
        <input type="submit" value="Post the Shoe">
    </form>
</body>
</html>